<nav class="main-nav">
  <ul {{ attributes.addClass('menu') }}>
    {% for link in links %}
      {% set attributes = create_attribute({}) %}
      {%
        set classes = [
          'menu-item',
          link.is_expanded ? 'menu-item--expanded',
          link.is_collapsed ? 'menu-item--collapsed',
          link.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
      <li {{ attributes.addClass(classes) }}>
        {{ link(link.title, link.url) }}
      </li>
    {% endfor %}
  </ul>
</nav>
